.container {
    background-color: #f7f5f3;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 90vh;
}

.containerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    background-color: #ffffff;
    margin: 20px 0px;
    border: 1px solid #b8afaf;
    padding: 10px 0px;
    box-shadow: 2px 4px 5px #808080;
}

.detailProduct {
    width:50%;
    color:#464545;
}

.cotainStatus, .detailsPay  {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
}

.cotainStatus h6 {
    font-size: 20px;
}

.iconApproved {
    color: #20962f;
}

.iconPending {
    color: #e2cd0a;
}

.iconCancelled {
    color: #e72727;
}

.cardDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    gap: 20px;
}

.cardDetails img  {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.detailsPay p {
    font-weight: 600;
    color: #333333;
}

.cardDetails p {
    font-weight: 400;
    color: #333333;
}

.detailsPay a {
    text-decoration: none;
}

@media (max-width:768px) {
    .container {
        background-color: #ffffff;
    }
    
    .containerDetails {
        background-color: #ffffff;
        border: none;
        box-shadow: none;
        width: auto;
    }

}

@media (max-width:425px) {
    .container {
        background-color: #ffffff;
    }
    
    .containerDetails {
        background-color: #ffffff;
        border: none;
        box-shadow: none;
        width: auto;
    }
    .cardDetails {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        gap: 0px;
    }
    .cardDetails img  {
        width: 100px;
        height: 100px;
    }

    .detailsPay p {
        font-size: 15px;
    }
    
    .cardDetails p {
        font-size: 12px;
    }
}



