.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 500px;
    width: 325px;
    background-color: #ffff;
    border-radius: 5px;
    gap: 20px;
}

.containerForm h1 {
    margin-bottom: 35px;
    font-weight: 900px;
    text-shadow: 1px 1px #1a1818;
}

.containerForm form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.containerForm p {
    margin: 0;
    font-size: 13px;
    padding:  0px 10px;
    color: #ff0000;
    font-weight: 500;
    text-align: center;
}

.containerForm a {
    text-decoration: none;
}

.contLabInp {
    padding-left: 20px;
}

.contLabInp input{
    margin: 0px 10px;
    padding: 4px 15px;
    color: #1f1e1e;
    font-weight: 500;
    width: 210px;
}

.contButt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contButt  p {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.contButt a {
    color: #0fa4c9;
}

.contButt a:hover {
    color: #1dd3eb;
    text-decoration: underline;
}

.contButt button {
    background-color: #1a1919;
    border: #1a1919 ;
    padding: 3px 40px;
    margin-top: 15px;
    border-radius: 2px;
    color: #ffff;
    font-size: 17px;
}
.contButt button:hover {
    background-color: #252424;
    border: #504e4e ;
    transition: 700ms;
    
}

.iconLog {
    font-size: 20px;
    color: #646161;
}

@media (max-width: 320px){
    .containerForm {
        width: 317px;
    }

}