.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    justify-content: space-evenly;
    height: 560px;
    width: 375px;
    background-color: #ffffff;
    border:1px solid gray;
    border-radius: 5px;
}

.imgLogo {
    width: 200px;
}

.containerForm h1 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900px;
    text-align: center;
    text-shadow: 1px 1px #4b4a4a;
    color: #646363;
}

.containerForm form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.containerForm p {
    margin: 0;
    font-size: 12px;
    padding:  0px 10px;
    color: #ff0000;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.containerForm a {
    text-decoration: none;
}

.contLabInp {
    padding-left: 20px;
}

.contLabInp input{
    margin: 0px 10px;
    padding: 4px 15px;
    color: #1f1e1e;
    font-weight: 500;
    border-radius: 5px;
    width: 225px;
    outline: none;  
    border: 1px solid gray; 
}

.contLabInp .inpFormOk:focus-visible {
    outline: 1px solid #04d304;
    border:none   
}

.contLabInp .inpFormError:focus-visible {
    outline: 1px solid #e91505;
    border:none   
}

.contButt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contButt  p {
    font-size: 15px;
    color: #524f4f;
    font-weight: 500;
}

.contButt a {
    color: #0fa4c9;
}

.contButt a:hover {
    color: #1dd3eb;
    text-decoration: underline;
}

.contButt button {
    background-color: #1a1919;
    border: #1a1919 ;
    margin-top: 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding: 4px 70px;
    cursor: pointer;
}
.contButt button:hover {
    background-color: #3a3939;
    border: #504e4e ;
    transition: 700ms;
    
}

.iconLog {
    font-size: 20px;
    color: #646161;
}

@media (max-width: 768px){
    .containerLogin {
        background-color: #ffffff;
    }

    .containerForm {
        border:none;
    }

}