.container {
    margin: 0;
    padding: 0;
    background-color: #f6f7fa;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container h4 {
    color:#474545;
    margin: 0;
    padding: 0;
}